{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteTitle/}</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js"></script>
<style>
body,html { height:100%; width:100%; overflow:hidden;}
</style>
</head> 
<body class="about_body">
{ZL.Label id="关于我们头部"/}
<!--about_nav end-->
<div class="about_title">
<div class="container">只做更专业<br/>并没有什么口号</div>
</div>
<div class="home_t">
<div class="container">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="home_body_one">
<a href="#">
<img src="{$CssDir/}Images/ig2.png" alt="产业布局"/>
<p>产业布局</p>
</a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="home_body_one">
<a href="#">
<img src="{$CssDir/}Images/ig1.png" alt="客户服务"/>
<p>客户服务</p>
</a>
</div>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
<div class="home_body_one">
<a href="#">
<img src="{$CssDir/}Images/ig3.png" alt="使用帮助"/>
<p>使用帮助</p>
</a>
</div>
</div>
</div>
</div>
{ZL.Label id="关于我们底部"/}
</div>
<!--foot end-->
</body>
</html>

