{ZL.Source id="节点栏目信息数据源"/}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="msapplication-TileColor" content="#1A0066"/>
<meta name="msapplication-TileImage" content="/images/win8_symbol_140x140.png"/>
<title>欢迎访问建途网</title>
{$MetaKeywords/}
{$MetaDescription/}
{ZL:Boot()/}
<link href="{$CssDir/}global.css?id={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/JS/jquery.easing.js"></script>
<script src="/JS/Controls/Control.js"></script>
<script src="/JS/ZL_ValidateCode.js"></script>
</head> 
<body class="yin_banner">
<div class="container" style="margin-top:10vh; margin-bottom:10vh;">
<div class="row">
<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
<a href="/" class="yin_logo"><img src="{$CssDir/}Images/yin_logo.svg" alt="建途LOGO"/></a>
<a href="/default.aspx" class="yin_font">专注建筑产业 融合汇聚发展</a>
</div>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-md-offset-1">
<div class="yin_search">
<span>中国最大的建筑全产业链服务平台</span>
<div class="clearfix"></div>
<form action="/Search/SearchList.aspx" method="get" target="_blank">
<div class="home_search_r">
<div class="input-group">
<input type="text" name="keyword" class="form-control" placeholder="请输入关键字">
<span class="input-group-btn">
<button class="btn btn-default" type="submit">搜索</button>
</span>
</div><!-- /input-group -->
</div>
</form>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="yin_list">
<a href="/default.aspx">建筑商城</a>
<div class="yin_list_b1">
<ul>
<li><a href="/default.aspx">建筑业配套</a></li>
<li><a href="/default.aspx">砌筑材料</a></li>
<li><a href="/default.aspx">建筑业配套</a></li>
<li><a href="/default.aspx">砌筑材料</a></li>
<li><a href="/default.aspx">建筑业配套</a></li>
<li><a href="/default.aspx">砌筑材料</a></li>
<li><a href="/default.aspx">建筑业配套</a></li>
<li><a href="/default.aspx">砌筑材料</a></li>
<li><a href="/default.aspx">建筑业配套</a></li>
<li><a href="/default.aspx">砌筑材料</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="yin_list yin_list2">
<a href="/default.aspx">采购中心</a>
<div class="yin_list_b2">
<ul>
<li><a href="/default.aspx">采购玻璃胶——采购石英石辅材</a></li>
<li><a href="/default.aspx">采购玻璃胶——采购石英石辅材</a></li>
<li><a href="/default.aspx">采购玻璃胶——采购石英石辅材</a></li>
<li><a href="/default.aspx">采购玻璃胶——采购石英石辅材</a></li>
<li><a href="/default.aspx">采购玻璃胶——采购石英石辅材</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="yin_list yin_list3">
<a href="/default.aspx">建途OA</a>
<div class="yin_list_b1">
<ul>
<li><a href="/default.aspx">资料包</a></li>
<li><a href="/default.aspx">项目小组</a></li>
<li><a href="/default.aspx">资料包</a></li>
<li><a href="/default.aspx">项目小组</a></li>
<li><a href="/default.aspx">资料包</a></li>
<li><a href="/default.aspx">项目小组</a></li>
<li><a href="/default.aspx">资料包</a></li>
<li><a href="/default.aspx">项目小组</a></li>
<li><a href="/default.aspx">资料包</a></li>
<li><a href="/default.aspx">项目小组</a></li>
</ul>
</div>
</div>
</div>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
<div class="yin_list yin_list4">
<a href="/default.aspx">建途专家</a>
<div class="yin_list_b3">
<div class="media">
<div class="media-left"><i class="fa fa-user"></i>
</div>
<div class="media-body media-middle">
<h4 class="media-heading"><a href="/default.aspx">胡小明</a></h4>
<p>注册经济师，CMS实施架构师 拷贝</p>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="/default.aspx">
<i class="fa fa-user"></i>
</a>
</div>
<div class="media-body media-middle">
<h4 class="media-heading"><a href="/default.aspx">胡小明</a></h4>
<p>注册经济师，CMS实施架构师 拷贝</p>
</div>
</div>
<div class="media">
<div class="media-left">
<a href="/default.aspx">
<i class="fa fa-user"></i>
</a>
</div>
<div class="media-body media-middle">
<h4 class="media-heading"><a href="/default.aspx">胡小明</a></h4>
<p>注册经济师，CMS实施架构师 拷贝</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="bolang1 footimg"></div>
<div class="bolang2 footimg"></div>
</body>
</html>
<script>
//波浪效果
var yueAnimate = {
        lbyFun: function () {
            $(".bolang1").css({ "bottom": "-36px" });
            $(".bolang2").css({ "bottom": "0" });
            $(".bolang1").animate({
                "bottom": "0"
            }, 1500, 'easeInCubic');
            $(".bolang1").animate({
                "bottom": "-40px"
            }, 1500, 'easeInCubic');

            $(".bolang1").animate({
                "bottom": "0"
            }, 1500, 'easeInCubic');
            $(".bolang1").animate({
                "bottom": "-40px"
            }, 1500, 'easeInCubic');

            $(".bolang2").animate({
                "bottom": "-24px"
            }, 1000, 'easeInCubic');
            $(".bolang2").animate({
                "bottom": "0"
            }, 1000, 'easeInCubic');

            $(".bolang2").animate({
                "bottom": "-24px"
            }, 1000, 'easeInCubic');
            $(".bolang2").animate({
                "bottom": "0"
            }, 1000, 'easeInCubic');

            $(".bolang2").animate({
                "bottom": "-24px"
            }, 1000, 'easeInCubic');
            $(".bolang2").animate({
                "bottom": "0"
            }, 1000, 'easeInCubic');
        },

    }
    setInterval(yueAnimate.lbyFun, 6000);
    setInterval(yueAnimate.btntop, 2000);

    var gotoAnchor = function (selector, isauto) {
        var anchor = $(selector);
        if (anchor.length < 0) return;
        var $win = $(window);
        var $body = $(window.document.documentElement);
        var ua = navigator.userAgent.toLowerCase();
        if (ua.indexOf("webkit") > -1) {
            $body = $(window.document.body)
        }
        var pos = anchor.offset();
        if (isauto) {
            var t = pos.top - $win.scrollTop(); //相对于屏幕显示区
            var t2 = $win.height() - t;
            if (t2 < anchor.outerHeight()) {
                $body.animate({ "scrollTop": pos.top }, "normal");
            }
            return;
        }
        $body.animate({ "scrollTop": pos.top }, { queue: false, complete: function () { shubiao = true; } });
    }
    yueAnimate.lbyFun();
</script>