{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot()/}
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
<link type="text/css" rel="stylesheet" href="/App_Themes/Guest.css" />
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
<script src="/js/scrolltopcontrol.js" type="text/javascript"></script>
<script src="/JS/ZL_ValidateCode.js"></script>
<script src="/JS/Controls/B_User.js"></script>
<script src="/JS/Controls/Control.js"></script>
<script>
var username="{ZL:GetuserName()/}";
var oarole='{ZL.Label id="输出当前登录用户办公角色ID" /}';
if(username=="")
{
	window.location.href="{ZL:GetNodeLinkUrl(79)/}";
}
else if(oarole==""){
	alert("您尚未开通OA办公权限，请联系管理员开通！");
	window.location.href="/User/";
}
</script>
</head>
<body>
<div class="home_top">
<div class="container">
<div class="home_top_l">
<span class="pull-left"><a href="/">建途首页</a></span>
<div class="home_top_ls">
<div class="home_top_lsc">
<span class="site_span">{ZL:IPprovince()/}</span><span class="site_ch">[切换城市]<span class="caret"></span></span>
</div>
<ul>
<li><strong>热门城市：</strong><a href="{ZL:GetNodeLinkUrl(468)/}">上海</a><a href="{ZL:GetNodeLinkUrl(466)/}">北京</a><a href="{ZL:GetNodeLinkUrl(484)/}">广东</a><a href="{ZL:GetNodeLinkUrl(482)/}">湖北</a><a href="{ZL:GetNodeLinkUrl(486)/}">四川</a></li>
<li>华北：<a href="{ZL:GetNodeLinkUrl(466)/}">北京</a><a href="{ZL:GetNodeLinkUrl(467)/}">天津</a><a href="{ZL:GetNodeLinkUrl(470)/}">河北</a><a href="{ZL:GetNodeLinkUrl(471)/}">山西</a><a href="{ZL:GetNodeLinkUrl(492)/}">内蒙古</a></li>
<li>华东：<a href="{ZL:GetNodeLinkUrl(468)/}">上海</a><a href="{ZL:GetNodeLinkUrl(475)/}">江苏</a><a href="{ZL:GetNodeLinkUrl(476)/}">浙江</a><a href="{ZL:GetNodeLinkUrl(477)/}">安徽</a><a href="{ZL:GetNodeLinkUrl(478)/}">福建</a><a href="{ZL:GetNodeLinkUrl(480)/}">山东</a></li>
<li>华南：<a href="{ZL:GetNodeLinkUrl(484)/}">广东</a><a href="{ZL:GetNodeLinkUrl(493)/}">广西</a><a href="{ZL:GetNodeLinkUrl(485)/}">海南</a></li>
<li>华中：<a href="{ZL:GetNodeLinkUrl(479)/}">江西</a><a href="{ZL:GetNodeLinkUrl(481)/}">河南</a><a href="{ZL:GetNodeLinkUrl(482)/}">湖北</a><a href="{ZL:GetNodeLinkUrl(483)/}">湖南</a></li>
<li>西南：<a href="{ZL:GetNodeLinkUrl(469)/}">重庆</a><a href="{ZL:GetNodeLinkUrl(486)/}">四川</a><a href="{ZL:GetNodeLinkUrl(487)/}">贵州</a><a href="{ZL:GetNodeLinkUrl(488)/}">云南</a><a href="{ZL:GetNodeLinkUrl(494)/}">西藏</a></li>
<li>西北：<a href="{ZL:GetNodeLinkUrl(489)/}">陕西</a><a href="{ZL:GetNodeLinkUrl(490)/}">甘肃</a><a href="{ZL:GetNodeLinkUrl(491)/}">青海</a><a href="{ZL:GetNodeLinkUrl(495)/}">宁夏</a><a href="{ZL:GetNodeLinkUrl(496)/}">新疆</a></li>
<li>东北：<a href="{ZL:GetNodeLinkUrl(472)/}">辽宁</a><a href="{ZL:GetNodeLinkUrl(473)/}">吉林</a><a href="{ZL:GetNodeLinkUrl(474)/}">黑龙江</a></li>
</ul>
</div>24小时客服热线：<a href="tel:400-6789-314" class="all_phone">400-6789-314</a>
</div>
<div class="home_top_r">
<ul class="nav">
<li class="nav_user"><a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎您，{ZL:GetuserName()/}!</a>
<ul class="dropdown-menu" role="menu">
<li><a href="/User/Register">用户注册</a></li>
<li class="logon"><a href="/User/Info/UserInfo">资料维护</a></li>
<li class="logon"><a href="javascript:;" onClick="LogoutFun();">安全退出</a></li>
</ul>
</li>
<li><a href="/Guest">客户服务</a></li>
</ul>
</div>
</div>
</div>

<div class="navbar_bg"></div>

<div class="visible-xs">
<nav class="navbar navbar-default navbar-fixed-top plat_xsnav">
<div class="container-fluid">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/plat"><img src="{ZL.Label id="获取当前登录用户公司Logo" /}" alt="{ZL.Label id="获取当前登录用户公司名称" /}" onerror="javascript:this.src='/favicon.ico';" style="display:inline-block;width: 50px;" /> <span>{ZL.Label id="获取当前登录用户公司名称" /}办公平台</span></a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active"><a href="{ZL:GetNodeListUrl(79)/}">工作台</a></li>
<li><a href="/Plat/Blog/">主线</a></li>
<li><a href="/Plat/Blog/Spec.aspx">话题</a></li>
<li><a href="/Plat/Addon/NotifyList.aspx">任务</a></li>
<li><a href="/BU/KE/DailyPlan.aspx">日程</a></li>
<li><a href="/Plat/Group/CompDetail.aspx">公司</a></li>
<li><a href="/Plat/Note/ProList.aspx">项目</a></li>
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div style="height:70px;"></div>
</div>
<div class="relative">
<div class="Otop hidden-xs" id="Otop">
<div class="Otitle">
<a href="javascript:;" class="menu"><img src="{ZL.Label id="获取当前登录用户公司Logo" /}" id="logo_img" alt="{ZL.Label id="获取当前登录用户公司名称" /}" onerror="javascript:this.src='/favicon.ico';" /></a>
<a href="/plat"><span id="M_CompName_L">{ZL.Label id="获取当前登录用户公司名称" /}</span>办公平台</a></div>
<nav>
<ul id="topmenu_ul">
<li class="topnav_li active"><a href="{ZL:GetNodeListUrl(79)/}">工作台</a></li>
<li class="topnav_li"><a href="/Plat/Blog/">主线</a></li>
<li class="topnav_li"><a href="/Plat/Blog/Spec.aspx">话题</a></li>
<li class="topnav_li"><a href="/Plat/Addon/NotifyList.aspx">任务</a></li>
<li class="topnav_li"><a href="/BU/KE/DailyPlan.aspx">日程</a></li>
<li class="topnav_li"><a href="/Plat/Group/CompDetail.aspx">公司</a></li>
<li class="topnav_li"><a href="/Plat/Note/ProList.aspx">项目</a></li>
<li class="skey_li">
<i class="fa fa-search r_gray" style="position: absolute; left: 8px; top: 24px;"></i>
<input type="text" class="form-control" id="skey_t" placeholder="搜索,回车确认" style="padding-left: 30px;" />
</li>
</ul>
<div class="Otop_r hidden-md hidden-xs hidden-sm">
<ul class="btns_ul list-unstyled">
<li><a href="javascript:;" onclick="topnav.toggle();" id="skey_toggle_a"><i class="fa fa-search"></i></a></li>
<li><a href="/Plat/Admin/"><i class="fa fa fa-cog"></i></a></li>
<li><a href="/Plat/Email/"><i class="fa fa-envelope"></i> 邮件</a></li>
<li>
<div class="btn-group" style="margin-left:5px;">
<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" style="border:none;">
<img src="/Images/userface/noface.png" id="Main_UserFace_Img" class="uimg img_xs" onerror="shownoface(this);" alt="" />
<span id="Main_UName_T"></span>
<span class="fa fa-caret-down"></span>
</a>
<ul class="dropdown-menu">
<li><a href="/Plat/Blog/Contact.aspx">通讯录</a></li>
<li><a href="/Plat/Mail/">站内信</a></li>
<li><a href="/Plat/Doc/">云盘</a></li>
<li><a href="/Plat/Task/">任务</a></li>
<li><a href="/User/User/Logout">退出登录</a></li>
</ul>
</div>
</li>
<li><a href="http://www.zoomla.cn/OAS/" target="_blank"><i class="fa  fa-question-circle"></i></a></li>
</ul>
</div>
</nav>
</div>
</div>
<div class="oa_banner">
<div class="oa_box">
<h3>建途办公系统工作台</h3>
</div>
</div>

<div class="container">
<ol class="breadcrumb margin_top20 margin_bot0">
<li><a href="/">首页</a></li>
<li><a href="/Class_79/NodePage.aspx">建途OA</a></li>
<li class="active">证照管理</li>
</ol>
<div class="myoa_funlist" style=" margin-bottom:20px;">
<div class="row padding5">
<div class="col-lg-4 col-md-12 col-sm-3 col-xs-6 padding10">
<div class="myoa_funlist_c">
<a href="javascript:;" onClick="ShowMyCert();" style="background:#0769ad;">
<img src="{$CssDir/}images/myoa_add.png" alt="证书台帐" />
<h3>证书台帐</h3>
</a>
</div>
</div>
<div class="col-lg-4 col-md-3 col-sm-3 col-xs-6 padding10">
<div class="myoa_funlist_c">
<a href="/BU/KE/DailyPlan.aspx" style="background:#04a5e6;">
<img src="{$CssDir/}images/myoa_zstype.png" alt="消息提示" />
<h3>消息提示</h3>
</a>
</div>
</div>

<div class="col-lg-4 col-md-3 col-sm-3 col-xs-6 padding10">
<div class="myoa_funlist_c">
<a href="javascript:;" onClick="ShowMyGuide();" style="background:#f05033;">
<img src="{$CssDir/}images/myoa_zszy.png" alt="办事指南" />
<h3>办事指南</h3>
</a>
</div>
</div>
</div>
</div>


</div>

{ZL.Label id="全站底部"/}

<div class="zhengzhao_body" style="display:none;">
<div class="zhengzhao_body_c">
<div class="container">
<div class="zhengzhao_body_f"><iframe src="/User/MyCert" frameborder="0" scrolling="no" width="100%" height="700"></iframe></div>
</div>
</div>
</div>

<div class="zhengzhao_body" style="display:none;">
<div class="zhengzhao_add_c">
<div class="zhengzhao_add_f"><iframe src="/Class_350/NodePage.aspx" frameborder="0" scrolling="no" width="100%" height="660"></iframe></div>
</div>
</div>

<div class="zhengzhao_body" style="display:none;">
<div class="zhengzhao_zjlx">
<div class="zhengzhao_zjlx_c">
<iframe src="/User/Content/AddContent2?NodeID=538&ModelID=74" frameborder="0" scrolling="no" width="760" height="560"></iframe>
</div>
</div>
</div>

<div class="zhengzhao_body" style="display:none;">
<div class="zhengzhao_qt">
<iframe src="/Class_539/NodePage.aspx" frameborder="0" scrolling="no" width="760" height="560"></iframe>
</div>
</div>

<div class="zhengzhao_body" style="display:none;">
<div class="zhengzhao_myguide">
<div class="container">
<div class="zhengzhao_myguide_c">
<iframe src="/User/MyGuide?NodeID=543" frameborder="0" scrolling="no" width="100%" height="700"></iframe>
</div>
</div>
</div>
</div>

<div class="zhengzhao_body" style="display:none;">
<div class="zhengzhao_addguide">
<iframe src="/User/Content/AddContent3?NodeID=543&ModelID=2" frameborder="0" scrolling="no" width="960" height="760"></iframe>
</div>
</div>

</body>
</html>
<script>
//检测固顶事件
var IO=document.getElementById('Otop'),Y=IO,H=0,IE6;
IE6=window.ActiveXObject&&!window.XMLHttpRequest;
while(Y){H+=Y.offsetTop;Y=Y.offsetParent};
if(IE6)
IO.style.cssText="position:absolute;top:expression(this.fix?(document"+
".documentElement.scrollTop-(this.javascript||"+H+")):0)";
window.onscroll=function (){
var d=document,s=Math.max(d.documentElement.scrollTop,document.body.scrollTop);
if(s>H&&IO.fix||s<=H&&!IO.fix)return;
if(!IE6)IO.style.position=IO.fix?"":"fixed";        
IO.fix=!IO.fix;
};
try{document.execCommand("BackgroundImageCache",false,true)}catch(e){};
//]]>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
var msViewportStyle = document.createElement("style");
msViewportStyle.appendChild(
document.createTextNode(
"@-ms-viewport{width:auto!important}"
)
);
document.getElementsByTagName("head")[0].
appendChild(msViewportStyle);
}


$().ready(function(e) {
	var uid='{ZL:GetuserID()/}';
	var suprole='{ZL.Label id="获取当前登录用户公司超管角色ID" /}';
	var zzgl='{ZL.Label id="获取当前登录用户公司指定部门ID" GroupName="证照管理" /}';
	var xzrs='{ZL.Label id="获取当前登录用户公司指定部门ID" GroupName="行政人事" /}';
	var jygl='{ZL.Label id="获取当前登录用户公司指定部门ID" GroupName="经营管理" /}';
	var xmgl='{ZL.Label id="获取当前登录用户公司指定部门ID" GroupName="项目管理" /}';
	var cwb='{ZL.Label id="获取当前登录用户公司指定部门ID" GroupName="财务部" /}';
	var platrole='{ZL.Label id="输出当前登录用户办公角色" /}';
	
	if(platrole.indexOf(","+suprole+",")>=0){
		$(".myoa_funlist").show();
		$(".myoa_main").show();
	}
	else if(zzgl.indexOf(","+uid+",")>=0){
	}
});

//手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});

$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});

var buser = new B_User();
buser.IsLogged(function(data,flag){
	if(flag)
	{
		data=JSON.parse(data);
		$("#Main_UName_T").html(data.UserName);
	}
	else
		window.location.href="{ZL:GetNodeLinkUrl(79)/}";
});
$(".map_list1 li").each(function(index, element) {
    if($(this).find("ul li").length>0){
		$(this).find("ul").hide();
	}
	else{
		$(this).children("h3").find(".btn").remove();
		$(this).find("ul").remove();
	}
});
$(".map_list1_b").click(function(){
	if($(this).find("i").hasClass("fa-plus")){
		$(this).parent().parent().children("ul").show();
		$(this).find("i").removeClass("fa-plus").addClass("fa-minus");
	}
	else{
		$(this).parent().parent().children("ul").hide();
		$(this).find("i").removeClass("fa-minus").addClass("fa-plus");
	}
});
$().ready(function(e) {
	$(".map_list1 li[data-gid='722']").addClass("active");
	ShowFun($(".map_list1 li[data-gid='722']"));
	if(IsPC()){
		$(".all_phone").attr("href","javascript:alert('请用手机直接拨打400-6789-314')");
	}
});
function ShowFun(obj){
	if(parseInt($(obj).data("pid"))>0){
		$(obj).parent().show();
		$(obj).parent().prev("h3").find(".btn i").removeClass("fa-plus").addClass("fa-minus");
		ShowFun($(obj).parent().parent())
	}
	else{
	}
}
function CloseAdd(){
	$(".zhengzhao_add_c").parent().hide();
}
function ShowAdd(){
	$(".zhengzhao_add_f iframe").attr("src","/Class_350/NodePage.aspx");
	$(".zhengzhao_add_c").parent().show();
}
function CloseMyCert(){
	$(".zhengzhao_body_c").parent().hide();
}
function ShowMyCert(){
	$(".zhengzhao_body_c").parent().show();
}
function Closezslx(){
	$(".zhengzhao_zjlx").parent().hide();	
}
function Showzslx(){
	$(".zhengzhao_zjlx").parent().show();	
}
function EditFun(gid){
	$(".zhengzhao_add_f iframe").attr("src","/Class_350/NodePage.aspx?ID="+gid);
	$(".zhengzhao_add_c").parent().show();
}
function Closeqt(){
	$(".zhengzhao_qt").parent().hide();
}
function Showqt(){
	$(".zhengzhao_qt").parent().show();
}
function CloseMyGuide(){
	$(".zhengzhao_myguide").parent().hide();
}
function ShowMyGuide(){
	$(".zhengzhao_myguide").parent().show();
}
function Closeaddguide(){
	$(".zhengzhao_addguide").parent().hide();
}
function Showaddguide(){
	$(".zhengzhao_addguide iframe").attr("src","/User/Content/AddContent3?NodeID=543&ModelID=2");
	$(".zhengzhao_addguide").parent().show();
}
function AddSuccess(){
	CloseAdd();
	$(".zhengzhao_body_f iframe").attr("src",$(".zhengzhao_body_f iframe").attr("src"));
	$(".zhengzhao_add_f iframe").attr("src",$(".zhengzhao_add_f iframe").attr("src"));
}
function AddSuccess1(){
	Closeaddguide();
	$(".zhengzhao_myguide_c iframe").attr("src",$(".zhengzhao_myguide_c iframe").attr("src"));
	$(".zhengzhao_addguide iframe").attr("src",$(".zhengzhao_addguide iframe").attr("src"));
}
function EditFun1(gid){
	$(".zhengzhao_addguide iframe").attr("src","/User/Content/AddContent3?ID="+gid);
	$(".zhengzhao_addguide").parent().show();
}
</script>