@model ZoomLa.Model.M_UserInfo
@{
    //找回密码的方式
    string step = ViewBag.step;
    Layout = "~/Views/Shared/_empty.cshtml";
}
@section head{
<title>找回密码-@Call.SiteName</title>
<link href="/Template/JianTu/style/global.css?Version=20150910" rel="stylesheet" />
<style>
.myuser_getpsd { padding-top:20px; padding-bottom:20px; background:#f5f6f8; font-family:"STHeiti","Microsoft YaHei","黑体","arial";}
.myuser_getpsd_c { padding-top:100px; padding-bottom:100px; background:#fff; border:1px solid #e4e4e4;}
.myuser_getpsd_c h3 { margin-bottom:20px; margin-top:0; text-align:center; color:#666;}
.myuser_getpsd_cf { width:300px; margin:auto;}
.myuser_getpsd_cf li { position:relative; margin-bottom:15px;}
.myuser_getpsd_cf li i { position:absolute; left:15px; top:12px; color:#999; font-size:1.2em; z-index:10;}
.myuser_getpsd_cf li i.fa-close,.myuser_getpsd_cf li i.fa-check { left:100px;}
.myuser_getpsd_cf li i.fa-lock { top:14px;}
.myuser_getpsd_cf li .form-control { padding-left:40px; padding-top:12px; padding-bottom:12px; border-radius:0; height:40px;}
.myuser_getpsd_cf li .btn { border-radius:0;}
</style>
}
@section content{
@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"全站头部\"/}"))
<form id="form1" method="post">
<div class="myuser_getpsd">
<div class="container">
<div class="myuser_getpsd_c">
<h3>找回密码</h3>
<div class="myuser_getpsd_cf">
<ul class="list-unstyled">
@switch (step)
{
case "answer":
{
<li>
<i class="fa fa-user"></i>
<input type="text" id="TxtUserName" name="TxtUserName" placeholder="输入会员名" class="form-control text_max required" title="会员名不能为空" />
</li>
<li>
<i class="fa fa-key"></i>
<input type="text" id="Question_T" name="Question_T" class="form-control text_max required" title="问题不能为空" placeholder="请输入问题" />
</li>
<li>
<i class="fa fa-lock"></i>
<input type="text" id="Answer_T" name="Answer_T" class="form-control text_max required" title="答案不能为空" placeholder="请输入答案" />
</li>
<li><button type="button" class="btn btn-primary btn-block" onclick="submitform('@step');">提交</button></li>
}
break;
case "email":
{
<li><i class="fa fa-user"></i><input type="text" id="TxtUserName" name="TxtUserName" placeholder="输入会员名" class="form-control text_max required" title="会员名不能为空" /></li>
<li class="margin_t5">
<i class="fa fa-key"></i>
<div class="input-group">
<input type="text" id="VCode" name="VCode" maxlength="6" placeholder="验证码" class="form-control required" title="验证码不能为空" autocomplete="off" />
<span class="input-group-addon" style="border-radius:0;"><img id="VCode_img" title="点击刷新验证码" class="code" /></span>
</div>
<input type="hidden" id="VCode_hid" name="VCode_hid" />
</li>
<li class="margin_t5"><button type="button" class="btn btn-info btn-block" onclick="submitform('email');"><span class="fa fa-envelope"></span> 发送邮件</button></li>
<li class="margin_t5"><button type="button" class="btn btn-warning btn-block" onclick="submitform('mobile');"><span class="fa fa-mobile"></span> 发送短信</button></li>
}
break;
case "mobile_code":
{
<li>
<i class="fa fa-lock"></i>
<input type="text" id="CheckCode_T" name="CheckCode_T" class="form-control required" placeholder="请输入校验码" title="校验码不能为空" />
</li>
<li><button type="submit" id="ValidMobile_Btn" class="btn btn-info btn-block" onclick="submitform('@step');">验证手机</button></li>
}
break;
case "final":
{
<li>
<i class="fa fa-lock"></i>
<input type="password" id="TxtPassword" name="TxtPassword" class="form-control" placeholder="新密码" />
</li>
<li>
<i class="fa fa-lock"></i>
<input type="password" id="TxtConfirmPassword" name="TxtConfirmPassword" class="form-control" placeholder="确认密码" />
</li>
<li><button type="button" id="Final_Btn" onclick="submitform('@step');" class="btn btn-danger btn-block">修改密码</button></li>
}
break;
}
</ul>
</div>
</div>
</div>
</div>
</form>
@MvcHtmlString.Create(Call.GetLabel("{ZL.Label id=\"全站底部\"/}"))
}
@section script{
<script src="/JS/jquery.validate.min.js"></script>
<script src="/JS/ZL_ValidateCode.js"></script>
<script>
$(function () {
    $("#TxtUserName").focus();
    $("#VCode").ValidateCode();
    $("form").validate({
        rules: {
            TxtPassword: { required: true },
            TxtConfirmPassword: { required: true, equalTo: "#TxtPassword" }
        }
    });
});
function submitform(type) {
    var $form = $("#form1");
    switch (type) {
        case "answer":
            $form.attr("action", "GetPassword_Answer");
            break;
        case "email":
            $form.attr("action", "GetPassword_Email");
            break;
        case "mobile":
            $form.attr("action", "GetPassword_Mobile");
            break;
        case "mobile_code":
            $form.attr("action", "GetPassword_Mobile_Code");
            break;
        case "final":
            $form.attr("action", "GetPassword_Final");
            break;
    }
    $form.submit();
}
//检测固顶事件
var IO = document.getElementById('home_nav'), Y = IO, H = 0, IE6;
IE6 = window.ActiveXObject && !window.XMLHttpRequest;
while (Y) { H += Y.offsetTop; Y = Y.offsetParent };
if (IE6)
    IO.style.cssText = "position:absolute;top:expression(this.fix?(document" +
    ".documentElement.scrollTop-(this.javascript||" + H + ")):0)";
window.onscroll = function () {
    var d = document, s = Math.max(d.documentElement.scrollTop, document.body.scrollTop);
    if (s > H && IO.fix || s <= H && !IO.fix) return;
    if (!IE6) IO.style.position = IO.fix ? "" : "fixed";
    IO.fix = !IO.fix;
};
try { document.execCommand("BackgroundImageCache", false, true) } catch (e) { };
//]]>
//兼容wp8
if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement("style");
    msViewportStyle.appendChild(
    document.createTextNode(
    "@@-ms-viewport{width:auto!important}"
    )
    );
    document.getElementsByTagName("head")[0].
    appendChild(msViewportStyle);
}

$(".bottom-close").click(function () {
    $(".bottom-contrainer").addClass("bottom-hide");
    $(".bottom-collspan").removeClass("collspan-hide");
})
$(".collspan").click(function () {
    $(".bottom-contrainer").removeClass("bottom-hide");
    $(".bottom-collspan").addClass("collspan-hide");
})

var buser = new B_User();
buser.IsLogged(function (data, flag) {
    if (flag) {
        data = JSON.parse(data);
        $(".nav_user>a").html("欢迎您，<span>" + data.UserName + "!</span>");
        $(".nav_user .dropdown-menu li:nth-child(1) a").html("会员中心");
        $(".nav_user .dropdown-menu li:nth-child(2)").remove();
        $(".logon").css("display", "block");
        $(".home_user_t").html('<img src="' + data.UserFace + '" alt="' + data.UserName + '" onerror="javascript:this.src=\'/Images/userface/noface.png\';" /><p>Hi,' + data.UserName + '<br/><a href="/User/">我的建途</a></p><div class="home_user_tb"><a href="/User/Login.aspx">我的供应空间</a><a href="/User/Register.aspx">我的采购空间</a><div class="clearfix"></div></div>')
    }
});
function LogoutFun() {
    buser.Logout(function () { location = location; });
}$().ready(function (e) {
    $(".second_list li").mouseover(function () {
        $(this).siblings("li").find("nav_llist_c").hide();
        $(this).find(".nav_llist_c").show();
    }).mouseout(function () {
        $(this).siblings("li").find("nav_llist_c").hide();
        $(this).find(".nav_llist_c").hide();
    });
    $(".home_nav .navbar-nav li").mouseover(function () {
        $(this).addClass("open");
    }).mouseout(function () {
        $(this).removeClass("open");
    });
    $(".mainCate").mouseover(function () {
        $(this).find(".nav_llist_c").show();
    }).mouseout(function () {
        $(this).find(".nav_llist_c").hide();
    });
    //判断分站
    if ("{$GetRequest(city)$}" == "") {
        $(".site_span").html("{ZL:IPcity()/}");
        $(".home_logo_text span a").html("{ZL:IPcity()/}");
    }
    $(".home_list li.dropdown.visible-xs .nav_llist_c").show();
    $(".home_logo_s").html("找回密码");
});
//---------------------手机下右侧导航菜单效果
$(function () {
    $('button.navbar-toggle').click(function () {
        $('body').toggleClass('out');
        $('nav.navbar-fixed-top').toggleClass('out');
        if ($('body').hasClass('out')) {
            $(this).focus();
        }
        else {
            $(this).blur();
        }
    });
});
$(document).click(function (e) {
    if (!$(e.target).closest('.navbar-collapse, button.navbar-toggle').length && $('body').hasClass('out')) {
        e.preventDefault();
        $('button.navbar-toggle').trigger('click');
    }
}).keyup(function (e) {
    if (e.keyCode == 27 && $('body').hasClass('out')) {
        $('button.navbar-toggle').trigger('click');
    }
});
</script>
}
