<?xml version="1.0" encoding="utf-8"?>
<!--指定数据库连接字符串（名称/值对的形式）的集合。-->
<connectionStrings>
  <add name="Connection String" connectionString="F87F9F9767D21464EDB99DCED9BC9B9E89B88604274358C903FF85B5E87B6F91D5AF3504C00B720F73D7DD2C86DE9BA9E5FF022552759D16BB5B876F2CACD6EFB04CA36A6EE8A1DDB9D4269FD9F51B46" providerName="System.Data.SqlClient" />
  <add name="Plug Connection String" connectionString="Data Source=(local);Initial Catalog=kingdee;User ID=kingdee;Password=kingdee" providerName="System.Data.SqlClient" />
  <add name="OraConnection String" connectionString="Data Source=ZoomLa;User ID=zoomla;Password=zoomla" providerName="System.Data.OracleClient" />
</connectionStrings>