@{
    Layout = "~/Areas/User/Views/Shared/_layout.cshtml";
}
@section head{
<title>查看试题</title>
}
@section content{
<ol class="breadcrumb">
    <li><a href="@Url.Action("Default","")">用户中心</a></li>
    <li>查看试题</li>
</ol>
<div class="panel panel-info">
    <div class="panel-heading"><label  id="title_l"></label></div>
    <div class="panel-body">
        <div><label  id="content_l"></label></div>
        <div class="divline"></div>
        <div>
            <p style="white-space: normal;"><span style="font-family: 宋体, sans-serif; font-size: 13px; font-weight: bold; letter-spacing: 1px; line-height: 25px; background-color: #FFFFFF;">【正确答案】</span></p>
            <label  ID="Shuming_L"></label>
        </div>
        <div class="divline"></div>
        <div><label  id="jiexi_l"></label></div>
    </div>
</div>
}
@section script{

}
